

# PANDAS üêº

In [ ]:
import pandas as pd

In [ ]:
## Origin Dataset: https://www.kaggle.com/c/titanic/data
## Tutorial: https://www.kaggle.com/code/alexisbcook/titanic-tutorial
## =============================================================================

In [ ]:
# Load Titanic dataset directly from GitHub
data_url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(data_url)

# Display the first few rows
print("Initial Data:")
print(df.head())

Initial Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
# -----------------------------
# 1. Data Cleaning
# -----------------------------
# (Handling missing values, duplicates, and inconsistent data)
print("Dataset Info:\n")
df.info()
print("\nMissing Values:\n", df.isnull().sum())

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Missing Values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Filling missing values in 'Age' with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# Filling missing values in 'Embarked' with the most common value
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Dropping 'Cabin' due to too many missing values
df.drop(columns=['Cabin'], inplace=True)

# Handling Duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# -----------------------------
# 2. Data Transformation
# -----------------------------
## (Feature Engineering and Encoding)
# Creating a new feature 'FamilySize'
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# Binning 'Age' into categories
df['AgeGroup'] = pd.cut(df['Age'], bins=[0, 12, 18, 35, 60, 100], labels=['Child', 'Teen', 'Young Adult', 'Adult', 'Senior'])

# Encoding categorical variables
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

In [ ]:
# -----------------------------
# 3. Data Integration
# -----------------------------
# (Merging and Joining)
df_extra = df[['PassengerId', 'Fare']].copy()
df_extra['DiscountedFare'] = df_extra['Fare'] * 0.9
df = df.merge(df_extra[['PassengerId', 'DiscountedFare']], on='PassengerId', how='left')

In [ ]:
# -----------------------------
# 4. Data Reduction
# -----------------------------
# (Aggregation and Filtering)
# Aggregating survival rate by class
survival_rate = df.groupby('Pclass')['Survived'].mean()
print("\nSurvival Rate by Class:\n", survival_rate)

Survival Rate by Class:
 Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [ ]:
# Selecting high fare passengers
df_reduced = df[df['Fare'] > df['Fare'].quantile(0.75)].sort_values(by='Fare', ascending=False)
display(df_reduced.head())

# Pivot Table Example
pivot_table = df.pivot_table(index='Pclass', values='Fare', aggfunc=['mean', 'median'])
print("\nFare Statistics by Class:\n", pivot_table)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,FamilySize,AgeGroup,Sex_male,Embarked_Q,Embarked_S,DiscountedFare
258,259,1,1,"Ward, Miss. Anna",35.0,0,0,PC 17755,512.3292,1,Young Adult,False,False,False,461.09628
737,738,1,1,"Lesurer, Mr. Gustave J",35.0,0,0,PC 17755,512.3292,1,Young Adult,True,False,False,461.09628
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",36.0,0,1,PC 17755,512.3292,2,Adult,True,False,False,461.09628
341,342,1,1,"Fortune, Miss. Alice Elizabeth",24.0,3,2,19950,263.0000,6,Young Adult,False,False,True,236.70000
88,89,1,1,"Fortune, Miss. Mabel Helen",23.0,3,2,19950,263.0000,6,Young Adult,False,False,True,236.70000

Fare Statistics by Class:
              mean   median
             Fare     Fare
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

In [ ]:
## YOUR PRIZE üèÜ:
# Comprehensive Pandas Reference: https://github.com/mrdbourke/zero-to-mastery-ml/blob/master/section-2-data-science-and-ml-tools/introduction-to-pandas.ipynb

In [ ]:
# Transition to NumPy
print("\nPandas processing complete. Moving to NumPy for numerical transformations.")

Pandas processing complete. Moving to NumPy for numerical transformations.

# NumPy

In [ ]:
import numpy as np

In [ ]:
# NumPy: Numerical Computing Transformations
# Converting relevant columns to NumPy arrays
fare_array = df['Fare'].to_numpy()
age_array = df['Age'].to_numpy()

fare_array, age_array

(array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
         51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
          8.05  ,  31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,
         18.    ,   7.225 ,  26.    ,  13.    ,   8.0292,  35.5   ,
         21.075 ,  31.3875,   7.225 , 263.    ,   7.8792,   7.8958,
         27.7208, 146.5208,   7.75  ,  10.5   ,  82.1708,  52.    ,
          7.2292,   8.05  ,  18.    ,  11.2417,   9.475 ,  21.    ,
          7.8958,  41.5792,   7.8792,   8.05  ,  15.5   ,   7.75  ,
         21.6792,  17.8   ,  39.6875,   7.8   ,  76.7292,  26.    ,
         61.9792,  35.5   ,  10.5   ,   7.2292,  27.75  ,  46.9   ,
          7.2292,  80.    ,  83.475 ,  27.9   ,  27.7208,  15.2458,
         10.5   ,   8.1583,   7.925 ,   8.6625,  10.5   ,  46.9   ,
         73.5   ,  14.4542,  56.4958,   7.65  ,   7.8958,   8.05  ,
         29.    ,  12.475 ,   9.    ,   9.5   ,   7.7875,  47.1   ,
         10.5   ,  15.85  ,  34.375 ,   8.05  , 263.    ,   8.05  ,
          8.05  ,   7.8542,  61.175 ,  20.575 ,   7.25  ,   8.05  ,
         34.6542,  63.3583,  23.    ,  26.    ,   7.8958,   7.8958,
         77.2875,   8.6542,   7.925 ,   7.8958,   7.65  ,   7.775 ,
          7.8958,  24.15  ,  52.    ,  14.4542,   8.05  ,   9.825 ,
         14.4583,   7.925 ,   7.75  ,  21.    , 247.5208,  31.275 ,
         73.5   ,   8.05  ,  30.0708,  13.    ,  77.2875,  11.2417,
          7.75  ,   7.1417,  22.3583,   6.975 ,   7.8958,   7.05  ,
         14.5   ,  26.    ,  13.    ,  15.0458,  26.2833,  53.1   ,
          9.2167,  79.2   ,  15.2458,   7.75  ,  15.85  ,   6.75  ,
         11.5   ,  36.75  ,   7.7958,  34.375 ,  26.    ,  13.    ,
         12.525 ,  66.6   ,   8.05  ,  14.5   ,   7.3125,  61.3792,
          7.7333,   8.05  ,   8.6625,  69.55  ,  16.1   ,  15.75  ,
          7.775 ,   8.6625,  39.6875,  20.525 ,  55.    ,  27.9   ,
         25.925 ,  56.4958,  33.5   ,  29.125 ,  11.1333,   7.925 ,
         30.6958,   7.8542,  25.4667,  28.7125,  13.    ,   0.    ,
         69.55  ,  15.05  ,  31.3875,  39.    ,  22.025 ,  50.    ,
         15.5   ,  26.55  ,  15.5   ,   7.8958,  13.    ,  13.    ,
          7.8542,  26.    ,  27.7208, 146.5208,   7.75  ,   8.4042,
          7.75  ,  13.    ,   9.5   ,  69.55  ,   6.4958,   7.225 ,
          8.05  ,  10.4625,  15.85  ,  18.7875,   7.75  ,  31.    ,
          7.05  ,  21.    ,   7.25  ,  13.    ,   7.75  , 113.275 ,
          7.925 ,  27.    ,  76.2917,  10.5   ,   8.05  ,  13.    ,
          8.05  ,   7.8958,  90.    ,   9.35  ,  10.5   ,   7.25  ,
         13.    ,  25.4667,  83.475 ,   7.775 ,  13.5   ,  31.3875,
         10.5   ,   7.55  ,  26.    ,  26.25  ,  10.5   ,  12.275 ,
         14.4542,  15.5   ,  10.5   ,   7.125 ,   7.225 ,  90.    ,
          7.775 ,  14.5   ,  52.5542,  26.    ,   7.25  ,  10.4625,
         26.55  ,  16.1   ,  20.2125,  15.2458,  79.2   ,  86.5   ,
        512.3292,  26.    ,   7.75  ,  31.3875,  79.65  ,   0.    ,
          7.75  ,  10.5   ,  39.6875,   7.775 , 153.4625, 135.6333,
         31.    ,   0.    ,  19.5   ,  29.7   ,   7.75  ,  77.9583,
          7.75  ,   0.    ,  29.125 ,  20.25  ,   7.75  ,   7.8542,
          9.5   ,   8.05  ,  26.    ,   8.6625,   9.5   ,   7.8958,
         13.    ,   7.75  ,  78.85  ,  91.0792,  12.875 ,   8.85  ,
          7.8958,  27.7208,   7.2292, 151.55  ,  30.5   , 247.5208,
          7.75  ,  23.25  ,   0.    ,  12.35  ,   8.05  , 151.55  ,
        110.8833, 108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,
         26.    ,   7.8958,  26.25  ,   7.8542,  26.    ,  14.    ,
        164.8667, 134.5   ,   7.25  ,   7.8958,  12.35  ,  29.    ,
         69.55  , 135.6333,   6.2375,  13.    ,  20.525 ,  57.9792,
         23.25  ,  28.5   , 153.4625,  18.    , 133.65  ,   7.8958,
         66.6   , 134.5   ,   8.05  ,  35.5   ,  26.    , 263.    ,
         13.    ,  13.    ,  13.    ,  13.    ,  13.    ,  16.1   ,
         15.9   ,   8.6625,   9.225 ,  35.    ,   7.2292,  17.8   ,
          7.225 ,   9.5   ,  55.    ,  13.    ,   7.8792,   7.8792,
         27.9   ,  27.7208,  14.4542,   7.05  ,  15.5   ,   7.25  ,
         75.25  ,   7.2292,   7.75  ,  69.3   ,  55.4417,   6.4958,
          8.05  , 135.6333,  21.075 ,  82.1708,   7.25  , 211.5   ,
          4.0125,   7.775 , 227.525 ,  15.7417,   7.925 ,  52.    ,
          7.8958,  73.5   ,  46.9   ,  13.    ,   7.7292,  12.    ,
        120.    ,   7.7958,   7.925 , 113.275 ,  16.7   ,   7.7958,
          7.8542,  26.    ,  10.5   ,  12.65  ,   7.925 ,   8.05  ,
          9.825 ,  15.85  ,   8.6625,  21.    ,   7.75  ,  18.75  ,
          7.775 ,  25.4667,   7.8958,   6.8583,  90.    ,   0.    ,
          7.925 ,   8.05  ,  32.5   ,  13.    ,  13.    ,  24.15  ,
          7.8958,   7.7333,   7.875 ,  14.4   ,  20.2125,   7.25  ,
         26.    ,  26.    ,   7.75  ,   8.05  ,  26.55  ,  16.1   ,
         26.    ,   7.125 ,  55.9   , 120.    ,  34.375 ,  18.75  ,
        263.    ,  10.5   ,  26.25  ,   9.5   ,   7.775 ,  13.    ,
          8.1125,  81.8583,  19.5   ,  26.55  ,  19.2583,  30.5   ,
         27.75  ,  19.9667,  27.75  ,  89.1042,   8.05  ,   7.8958,
         26.55  ,  51.8625,  10.5   ,   7.75  ,  26.55  ,   8.05  ,
         38.5   ,  13.    ,   8.05  ,   7.05  ,   0.    ,  26.55  ,
          7.725 ,  19.2583,   7.25  ,   8.6625,  27.75  ,  13.7917,
          9.8375,  52.    ,  21.    ,   7.0458,   7.5208,  12.2875,
         46.9   ,   0.    ,   8.05  ,   9.5875,  91.0792,  25.4667,
         90.    ,  29.7   ,   8.05  ,  15.9   ,  19.9667,   7.25  ,
         30.5   ,  49.5042,   8.05  ,  14.4583,  78.2667,  15.1   ,
        151.55  ,   7.7958,   8.6625,   7.75  ,   7.6292,   9.5875,
         86.5   , 108.9   ,  26.    ,  26.55  ,  22.525 ,  56.4958,
          7.75  ,   8.05  ,  26.2875,  59.4   ,   7.4958,  34.0208,
         10.5   ,  24.15  ,  26.    ,   7.8958,  93.5   ,   7.8958,
          7.225 ,  57.9792,   7.2292,   7.75  ,  10.5   , 221.7792,
          7.925 ,  11.5   ,  26.    ,   7.2292,   7.2292,  22.3583,
          8.6625,  26.25  ,  26.55  , 106.425 ,  14.5   ,  49.5   ,
         71.    ,  31.275 ,  31.275 ,  26.    , 106.425 ,  26.    ,
         26.    ,  13.8625,  20.525 ,  36.75  , 110.8833,  26.    ,
          7.8292,   7.225 ,   7.775 ,  26.55  ,  39.6   , 227.525 ,
         79.65  ,  17.4   ,   7.75  ,   7.8958,  13.5   ,   8.05  ,
          8.05  ,  24.15  ,   7.8958,  21.075 ,   7.2292,   7.8542,
         10.5   ,  51.4792,  26.3875,   7.75  ,   8.05  ,  14.5   ,
         13.    ,  55.9   ,  14.4583,   7.925 ,  30.    , 110.8833,
         26.    ,  40.125 ,   8.7125,  79.65  ,  15.    ,  79.2   ,
          8.05  ,   8.05  ,   7.125 ,  78.2667,   7.25  ,   7.75  ,
         26.    ,  24.15  ,  33.    ,   0.    ,   7.225 ,  56.9292,
         27.    ,   7.8958,  42.4   ,   8.05  ,  26.55  ,  15.55  ,
          7.8958,  30.5   ,  41.5792, 153.4625,  31.275 ,   7.05  ,
         15.5   ,   7.75  ,   8.05  ,  65.    ,  14.4   ,  16.1   ,
         39.    ,  10.5   ,  14.4542,  52.5542,  15.7417,   7.8542,
         16.1   ,  32.3208,  12.35  ,  77.9583,   7.8958,   7.7333,
         30.    ,   7.0542,  30.5   ,   0.    ,  27.9   ,  13.    ,
          7.925 ,  26.25  ,  39.6875,  16.1   ,   7.8542,  69.3   ,
         27.9   ,  56.4958,  19.2583,  76.7292,   7.8958,  35.5   ,
          7.55  ,   7.55  ,   7.8958,  23.    ,   8.4333,   7.8292,
          6.75  ,  73.5   ,   7.8958,  15.5   ,  13.    , 113.275 ,
        133.65  ,   7.225 ,  25.5875,   7.4958,   7.925 ,  73.5   ,
         13.    ,   7.775 ,   8.05  ,  52.    ,  39.    ,  52.    ,
         10.5   ,  13.    ,   0.    ,   7.775 ,   8.05  ,   9.8417,
         46.9   , 512.3292,   8.1375,  76.7292,   9.225 ,  46.9   ,
         39.    ,  41.5792,  39.6875,  10.1708,   7.7958, 211.3375,
         57.    ,  13.4167,  56.4958,   7.225 ,  26.55  ,  13.5   ,
          8.05  ,   7.7333, 110.8833,   7.65  , 227.525 ,  26.2875,
         14.4542,   7.7417,   7.8542,  26.    ,  13.5   ,  26.2875,
        151.55  ,  15.2458,  49.5042,  26.55  ,  52.    ,   9.4833,
         13.    ,   7.65  , 227.525 ,  10.5   ,  15.5   ,   7.775 ,
         33.    ,   7.0542,  13.    ,  13.    ,  53.1   ,   8.6625,
         21.    ,   7.7375,  26.    ,   7.925 , 211.3375,  18.7875,
          0.    ,  13.    ,  13.    ,  16.1   ,  34.375 , 512.3292,
          7.8958,   7.8958,  30.    ,  78.85  , 262.375 ,  16.1   ,
          7.925 ,  71.    ,  20.25  ,  13.    ,  53.1   ,   7.75  ,
         23.    ,  12.475 ,   9.5   ,   7.8958,  65.    ,  14.5   ,
          7.7958,  11.5   ,   8.05  ,  86.5   ,  14.5   ,   7.125 ,
          7.2292, 120.    ,   7.775 ,  77.9583,  39.6   ,   7.75  ,
         24.15  ,   8.3625,   9.5   ,   7.8542,  10.5   ,   7.225 ,
         23.    ,   7.75  ,   7.75  ,  12.475 ,   7.7375, 211.3375,
          7.2292,  57.    ,  30.    ,  23.45  ,   7.05  ,   7.25  ,
          7.4958,  29.125 ,  20.575 ,  79.2   ,   7.75  ,  26.    ,
         69.55  ,  30.6958,   7.8958,  13.    ,  25.9292,   8.6833,
          7.2292,  24.15  ,  13.    ,  26.25  , 120.    ,   8.5167,
          6.975 ,   7.775 ,   0.    ,   7.775 ,  13.    ,  53.1   ,
          7.8875,  24.15  ,  10.5   ,  31.275 ,   8.05  ,   0.    ,
          7.925 ,  37.0042,   6.45  ,  27.9   ,  93.5   ,   8.6625,
          0.    ,  12.475 ,  39.6875,   6.95  ,  56.4958,  37.0042,
          7.75  ,  80.    ,  14.4542,  18.75  ,   7.2292,   7.8542,
          8.3   ,  83.1583,   8.6625,   8.05  ,  56.4958,  29.7   ,
          7.925 ,  10.5   ,  31.    ,   6.4375,   8.6625,   7.55  ,
         69.55  ,   7.8958,  33.    ,  89.1042,  31.275 ,   7.775 ,
         15.2458,  39.4   ,  26.    ,   9.35  , 164.8667,  26.55  ,
         19.2583,   7.2292,  14.1083,  11.5   ,  25.9292,  69.55  ,
         13.    ,  13.    ,  13.8583,  50.4958,   9.5   ,  11.1333,
          7.8958,  52.5542,   5.    ,   9.    ,  24.    ,   7.225 ,
          9.8458,   7.8958,   7.8958,  83.1583,  26.    ,   7.8958,
         10.5167,  10.5   ,   7.05  ,  29.125 ,  13.    ,  30.    ,
         23.45  ,  30.    ,   7.75  ]),
 array([22.  , 38.  , 26.  , 35.  , 35.  , 28.  , 54.  ,  2.  , 27.  ,
        14.  ,  4.  , 58.  , 20.  , 39.  , 14.  , 55.  ,  2.  , 28.  ,
        31.  , 28.  , 35.  , 34.  , 15.  , 28.  ,  8.  , 38.  , 28.  ,
        19.  , 28.  , 28.  , 40.  , 28.  , 28.  , 66.  , 28.  , 42.  ,
        28.  , 21.  , 18.  , 14.  , 40.  , 27.  , 28.  ,  3.  , 19.  ,
        28.  , 28.  , 28.  , 28.  , 18.  ,  7.  , 21.  , 49.  , 29.  ,
        65.  , 28.  , 21.  , 28.5 ,  5.  , 11.  , 22.  , 38.  , 45.  ,
         4.  , 28.  , 28.  , 29.  , 19.  , 17.  , 26.  , 32.  , 16.  ,
        21.  , 26.  , 32.  , 25.  , 28.  , 28.  ,  0.83, 30.  , 22.  ,
        29.  , 28.  , 28.  , 17.  , 33.  , 16.  , 28.  , 23.  , 24.  ,
        29.  , 20.  , 46.  , 26.  , 59.  , 28.  , 71.  , 23.  , 34.  ,
        34.  , 28.  , 28.  , 21.  , 33.  , 37.  , 28.  , 21.  , 28.  ,
        38.  , 28.  , 47.  , 14.5 , 22.  , 20.  , 17.  , 21.  , 70.5 ,
        29.  , 24.  ,  2.  , 21.  , 28.  , 32.5 , 32.5 , 54.  , 12.  ,
        28.  , 24.  , 28.  , 45.  , 33.  , 20.  , 47.  , 29.  , 25.  ,
        23.  , 19.  , 37.  , 16.  , 24.  , 28.  , 22.  , 24.  , 19.  ,
        18.  , 19.  , 27.  ,  9.  , 36.5 , 42.  , 51.  , 22.  , 55.5 ,
        40.5 , 28.  , 51.  , 16.  , 30.  , 28.  , 28.  , 44.  , 40.  ,
        26.  , 17.  ,  1.  ,  9.  , 28.  , 45.  , 28.  , 28.  , 61.  ,
         4.  ,  1.  , 21.  , 56.  , 18.  , 28.  , 50.  , 30.  , 36.  ,
        28.  , 28.  ,  9.  ,  1.  ,  4.  , 28.  , 28.  , 45.  , 40.  ,
        36.  , 32.  , 19.  , 19.  ,  3.  , 44.  , 58.  , 28.  , 42.  ,
        28.  , 24.  , 28.  , 28.  , 34.  , 45.5 , 18.  ,  2.  , 32.  ,
        26.  , 16.  , 40.  , 24.  , 35.  , 22.  , 30.  , 28.  , 31.  ,
        27.  , 42.  , 32.  , 30.  , 16.  , 27.  , 51.  , 28.  , 38.  ,
        22.  , 19.  , 20.5 , 18.  , 28.  , 35.  , 29.  , 59.  ,  5.  ,
        24.  , 28.  , 44.  ,  8.  , 19.  , 33.  , 28.  , 28.  , 29.  ,
        22.  , 30.  , 44.  , 25.  , 24.  , 37.  , 54.  , 28.  , 29.  ,
        62.  , 30.  , 41.  , 29.  , 28.  , 30.  , 35.  , 50.  , 28.  ,
         3.  , 52.  , 40.  , 28.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
        28.  , 25.  , 41.  , 37.  , 28.  , 63.  , 45.  , 28.  ,  7.  ,
        35.  , 65.  , 28.  , 16.  , 19.  , 28.  , 33.  , 30.  , 22.  ,
        42.  , 22.  , 26.  , 19.  , 36.  , 24.  , 24.  , 28.  , 23.5 ,
         2.  , 28.  , 50.  , 28.  , 28.  , 19.  , 28.  , 28.  ,  0.92,
        28.  , 17.  , 30.  , 30.  , 24.  , 18.  , 26.  , 28.  , 43.  ,
        26.  , 24.  , 54.  , 31.  , 40.  , 22.  , 27.  , 30.  , 22.  ,
        28.  , 36.  , 61.  , 36.  , 31.  , 16.  , 28.  , 45.5 , 38.  ,
        16.  , 28.  , 28.  , 29.  , 41.  , 45.  , 45.  ,  2.  , 24.  ,
        28.  , 25.  , 36.  , 24.  , 40.  , 28.  ,  3.  , 42.  , 23.  ,
        28.  , 15.  , 25.  , 28.  , 28.  , 22.  , 38.  , 28.  , 28.  ,
        40.  , 29.  , 45.  , 35.  , 28.  , 30.  , 60.  , 28.  , 28.  ,
        24.  , 25.  , 18.  , 19.  , 22.  ,  3.  , 28.  , 22.  , 27.  ,
        20.  , 19.  , 42.  ,  1.  , 32.  , 35.  , 28.  , 18.  ,  1.  ,
        36.  , 28.  , 17.  , 36.  , 21.  , 28.  , 23.  , 24.  , 22.  ,
        31.  , 46.  , 23.  , 28.  , 39.  , 26.  , 21.  , 28.  , 20.  ,
        34.  , 51.  ,  3.  , 21.  , 28.  , 28.  , 28.  , 33.  , 28.  ,
        44.  , 28.  , 34.  , 18.  , 30.  , 10.  , 28.  , 21.  , 29.  ,
        28.  , 18.  , 28.  , 28.  , 19.  , 28.  , 32.  , 28.  , 28.  ,
        42.  , 17.  , 50.  , 14.  , 21.  , 24.  , 64.  , 31.  , 45.  ,
        20.  , 25.  , 28.  , 28.  ,  4.  , 13.  , 34.  ,  5.  , 52.  ,
        36.  , 28.  , 30.  , 49.  , 28.  , 29.  , 65.  , 28.  , 50.  ,
        28.  , 48.  , 34.  , 47.  , 48.  , 28.  , 38.  , 28.  , 56.  ,
        28.  ,  0.75, 28.  , 38.  , 33.  , 23.  , 22.  , 28.  , 34.  ,
        29.  , 22.  ,  2.  ,  9.  , 28.  , 50.  , 63.  , 25.  , 28.  ,
        35.  , 58.  , 30.  ,  9.  , 28.  , 21.  , 55.  , 71.  , 21.  ,
        28.  , 54.  , 28.  , 25.  , 24.  , 17.  , 21.  , 28.  , 37.  ,
        16.  , 18.  , 33.  , 28.  , 28.  , 26.  , 29.  , 28.  , 36.  ,
        54.  , 24.  , 47.  , 34.  , 28.  , 36.  , 32.  , 30.  , 22.  ,
        28.  , 44.  , 28.  , 40.5 , 50.  , 28.  , 39.  , 23.  ,  2.  ,
        28.  , 17.  , 28.  , 30.  ,  7.  , 45.  , 30.  , 28.  , 22.  ,
        36.  ,  9.  , 11.  , 32.  , 50.  , 64.  , 19.  , 28.  , 33.  ,
         8.  , 17.  , 27.  , 28.  , 22.  , 22.  , 62.  , 48.  , 28.  ,
        39.  , 36.  , 28.  , 40.  , 28.  , 28.  , 28.  , 24.  , 19.  ,
        29.  , 28.  , 32.  , 62.  , 53.  , 36.  , 28.  , 16.  , 19.  ,
        34.  , 39.  , 28.  , 32.  , 25.  , 39.  , 54.  , 36.  , 28.  ,
        18.  , 47.  , 60.  , 22.  , 28.  , 35.  , 52.  , 47.  , 28.  ,
        37.  , 36.  , 28.  , 49.  , 28.  , 49.  , 24.  , 28.  , 28.  ,
        44.  , 35.  , 36.  , 30.  , 27.  , 22.  , 40.  , 39.  , 28.  ,
        28.  , 28.  , 35.  , 24.  , 34.  , 26.  ,  4.  , 26.  , 27.  ,
        42.  , 20.  , 21.  , 21.  , 61.  , 57.  , 21.  , 26.  , 28.  ,
        80.  , 51.  , 32.  , 28.  ,  9.  , 28.  , 32.  , 31.  , 41.  ,
        28.  , 20.  , 24.  ,  2.  , 28.  ,  0.75, 48.  , 19.  , 56.  ,
        28.  , 23.  , 28.  , 18.  , 21.  , 28.  , 18.  , 24.  , 28.  ,
        32.  , 23.  , 58.  , 50.  , 40.  , 47.  , 36.  , 20.  , 32.  ,
        25.  , 28.  , 43.  , 28.  , 40.  , 31.  , 70.  , 31.  , 28.  ,
        18.  , 24.5 , 18.  , 43.  , 36.  , 28.  , 27.  , 20.  , 14.  ,
        60.  , 25.  , 14.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 28.  ,
        25.  , 60.  , 52.  , 44.  , 28.  , 49.  , 42.  , 18.  , 35.  ,
        18.  , 25.  , 26.  , 39.  , 45.  , 42.  , 22.  , 28.  , 24.  ,
        28.  , 48.  , 29.  , 52.  , 19.  , 38.  , 27.  , 28.  , 33.  ,
         6.  , 17.  , 34.  , 50.  , 27.  , 20.  , 30.  , 28.  , 25.  ,
        25.  , 29.  , 11.  , 28.  , 23.  , 23.  , 28.5 , 48.  , 35.  ,
        28.  , 28.  , 28.  , 36.  , 21.  , 24.  , 31.  , 70.  , 16.  ,
        30.  , 19.  , 31.  ,  4.  ,  6.  , 33.  , 23.  , 48.  ,  0.67,
        28.  , 18.  , 34.  , 33.  , 28.  , 41.  , 20.  , 36.  , 16.  ,
        51.  , 28.  , 30.5 , 28.  , 32.  , 24.  , 48.  , 57.  , 28.  ,
        54.  , 18.  , 28.  ,  5.  , 28.  , 43.  , 13.  , 17.  , 29.  ,
        28.  , 25.  , 25.  , 18.  ,  8.  ,  1.  , 46.  , 28.  , 16.  ,
        28.  , 28.  , 25.  , 39.  , 49.  , 31.  , 30.  , 30.  , 34.  ,
        31.  , 11.  ,  0.42, 27.  , 31.  , 39.  , 18.  , 39.  , 33.  ,
        26.  , 39.  , 35.  ,  6.  , 30.5 , 28.  , 23.  , 31.  , 43.  ,
        10.  , 52.  , 27.  , 38.  , 27.  ,  2.  , 28.  , 28.  ,  1.  ,
        28.  , 62.  , 15.  ,  0.83, 28.  , 23.  , 18.  , 39.  , 21.  ,
        28.  , 32.  , 28.  , 20.  , 16.  , 30.  , 34.5 , 17.  , 42.  ,
        28.  , 35.  , 28.  , 28.  ,  4.  , 74.  ,  9.  , 16.  , 44.  ,
        18.  , 45.  , 51.  , 24.  , 28.  , 41.  , 21.  , 48.  , 28.  ,
        24.  , 42.  , 27.  , 31.  , 28.  ,  4.  , 26.  , 47.  , 33.  ,
        47.  , 28.  , 15.  , 20.  , 19.  , 28.  , 56.  , 25.  , 33.  ,
        22.  , 28.  , 25.  , 39.  , 27.  , 19.  , 28.  , 26.  , 32.  ]))

In [ ]:
# Statistical Analysis
print("\nNumPy Statistics:")
print("Mean Fare:", np.mean(fare_array))
print("Median Fare:", np.median(fare_array))
print("Standard Deviation of Fare:", np.std(fare_array))

NumPy Statistics:
Mean Fare: 32.204207968574636
Median Fare: 14.4542
Standard Deviation of Fare: 49.6655344447741

In [ ]:
# Normalization (Scaling Fare values between 0 and 1)
fare_min = np.min(fare_array)
fare_max = np.max(fare_array)
df['Fare_Normalized'] = (fare_array - fare_min) / (fare_max - fare_min)
df['Fare_Normalized']

0      0.014151
1      0.139136
2      0.015469
3      0.103644
4      0.015713
         ...
886    0.025374
887    0.058556
888    0.045771
889    0.058556
890    0.015127
Name: Fare_Normalized, Length: 891, dtype: float64

In [ ]:
# Applying NumPy Vectorized Operations
# Creating a new feature: Log-transformed Fare to reduce skewness
df['Fare_Log'] = np.log1p(fare_array)
df['Fare_Log']

0      2.110213
1      4.280593
2      2.188856
3      3.990834
4      2.202765
         ...
886    2.639057
887    3.433987
888    3.196630
889    3.433987
890    2.169054
Name: Fare_Log, Length: 891, dtype: float64

In [ ]:
# Linear Algebra Example: Creating a Feature Matrix
feature_matrix = np.column_stack((df['Fare'], df['Age'], df['FamilySize']))
print("\nFeature Matrix Shape:", feature_matrix.shape)
feature_matrix

Feature Matrix Shape: (891, 3)

array([[ 7.25  , 22.    ,  2.    ],
       [71.2833, 38.    ,  2.    ],
       [ 7.925 , 26.    ,  1.    ],
       ...,
       [23.45  , 28.    ,  4.    ],
       [30.    , 26.    ,  1.    ],
       [ 7.75  , 32.    ,  1.    ]])

In [ ]:
## YOUR PRIZE üèÜ:
# Comprehensive Numpy Reference: https://github.com/mrdbourke/zero-to-mastery-ml/blob/master/section-2-data-science-and-ml-tools/introduction-to-numpy.ipynb

In [ ]:
# Transition to Dask
print("\nNumPy processing complete. Moving to Dask for parallelized data operations.")

NumPy processing complete. Moving to Dask for parallelized data operations.

# Dask

# ===== Moving to Dask for Large-Scale Data Processing =====

In [ ]:
import dask.dataframe as dd

In [ ]:
# Load a large dataset (OpenWeather Historical Data) suitable for Dask
weather_url = "https://raw.githubusercontent.com/plotly/datasets/master/2016-weather-data-seattle.csv"
weather_df = dd.read_csv(weather_url, low_memory=False, dtype={'Mean_TemperatureC': 'float64', 'Min_TemperatureC': 'float64'})

# Display dataset information
print("\nOpenWeather Dataset Info:")
print(weather_df.dtypes)

OpenWeather Dataset Info:
Date                 string[pyarrow]
Max_TemperatureC               int64
Mean_TemperatureC            float64
Min_TemperatureC             float64
dtype: object

In [ ]:
# Lazy Evaluation: Checking Missing Values (Only computed when necessary)
missing_values = weather_df.isnull().sum()
print("\n Missing Values in OpenWeather Dataset:\n", missing_values.compute())

 Missing Values in OpenWeather Dataset:
 Date                 0
Max_TemperatureC     0
Mean_TemperatureC    5
Min_TemperatureC     1
dtype: int64

In [ ]:
# Data Cleaning: Filling Missing Values in 'Mean_TemperatureC' with median
weather_df['Mean_TemperatureC'] = weather_df['Mean_TemperatureC'].fillna(weather_df['Mean_TemperatureC'].median())

In [ ]:
print(weather_df.columns)

Index(['Date', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC'], dtype='object')

In [ ]:
# Filtering: Selecting High-Temperature Days (Above 90th percentile)
hot_days = weather_df[weather_df['Mean_TemperatureC'] > weather_df['Mean_TemperatureC'].quantile(0.9)]
print("\nHigh-Temperature Days Sample:\n", hot_days.head())

# Aggregation: Calculating Mean Humidity per Month
weather_df['Date'] = dd.to_datetime(weather_df['Date'])
weather_df['Month'] = weather_df['Date'].dt.month
mean_humidity_per_month = weather_df.groupby('Month')['Mean_TemperatureC'].mean()
print("\nMean Humidity per Month:\n", mean_humidity_per_month.compute())

High-Temperature Days Sample:
           Date  Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
157   6/6/1948                27               20.0              13.0
158   6/7/1948                30               23.0              16.0
159   6/8/1948                29               22.0              16.0
160   6/9/1948                26               21.0              14.0
179  6/28/1948                28               21.0              14.0

Mean Humidity per Month:
 Month
1      4.493982
2      6.053022
3      7.365591
4      9.612317
5     12.917590
6     15.750250
7     18.344728
8     18.332525
9     15.826866
10    11.355320
11     7.287562
12     4.856042
Name: Mean_TemperatureC, dtype: float64

In [ ]:
## YOUR PRIZE üèÜ:
# Comprehensive DASK Reference: https://domino.ai/blog/dask-step-by-step-tutorial

# SciPy

In [ ]:
from scipy import stats, spatial

In [ ]:
# -----------------------------
# Statistical Tests with SciPy
# -----------------------------

# Chi-squared Test: Testing if there is a relationship between 'Sex' and 'Survived'
contingency_table = pd.crosstab(df['Sex_male'], df['Survived'])
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
print("\nChi-squared Test: Sex vs Survived")
print(f"Chi2: {chi2}, p-value: {p}")

# Interpretation
if p < 0.05:
    print("There is a significant relationship between Sex and Survival.")
else:
    print("No significant relationship between Sex and Survival.")

Chi-squared Test: Sex vs Survived
Chi2: 260.71702016732104, p-value: 1.1973570627755645e-58
There is a significant relationship between Sex and Survival.

In [ ]:
# -----------------------------
# Advanced Statistical Analysis with SciPy
# -----------------------------

# T-test: Comparing average Fare between passengers who survived vs those who did not
survived = df[df['Survived'] == 1]['Fare'].dropna()
not_survived = df[df['Survived'] == 0]['Fare'].dropna()

t_stat, p_value = stats.ttest_ind(survived, not_survived)
print("\nT-test: Survived vs Not Survived")
print(f"T-statistic: {t_stat}, p-value: {p_value}")

# Interpretation
if p_value < 0.05:
    print("There is a significant difference in Fare between survivors and non-survivors.")
else:
    print("No significant difference in Fare between survivors and non-survivors.")

T-test: Survived vs Not Survived
T-statistic: 7.939191660871055, p-value: 6.120189341924198e-15
There is a significant difference in Fare between survivors and non-survivors.

In [ ]:
# -----------------------------
# Correlation and Similarity Analysis
# -----------------------------

# Spearman's Rank Correlation: Measuring monotonic relationship between 'Fare' and 'Age'
correlation, p_value_corr = stats.spearmanr(df['Fare'].dropna(), df['Age'].dropna())
print("\nSpearman's Rank Correlation: Fare vs Age")
print(f"Correlation coefficient: {correlation}, p-value: {p_value_corr}")

Spearman's Rank Correlation: Fare vs Age
Correlation coefficient: 0.12600552124010062, p-value: 0.00016260974540267112

In [ ]:
## YOUR PRIZE üèÜ:
# Comprehensive SciPy Reference: https://realpython.com/python-scipy-cluster-optimize/

# Apache Arrow

In [ ]:
import pyarrow as pa
import pyarrow.parquet as pq

In [ ]:
# Convert the Pandas DataFrame to an Arrow Table (zero-copy conversion)
arrow_table = pa.Table.from_pandas(df)
print("\nArrow Table Schema:")
print("==============================================")
print(arrow_table.schema)
print("==============================================")
# Write the Arrow Table to a Parquet file (efficient columnar storage)
pq.write_table(arrow_table, 'titanic.parquet')
print("\nData written to 'titanic.parquet'.")
print("==============================================")

# Read the Parquet file back into an Arrow Table
arrow_table_read = pq.read_table('titanic.parquet')

# Convert back to Pandas DataFrame to verify the content
df_from_arrow = arrow_table_read.to_pandas()
print("\nData read from Parquet (first 5 rows):")
print(df_from_arrow.head())

Arrow Table Schema:
==============================================
PassengerId: int64
Survived: int64
Pclass: int64
Name: string
Age: double
SibSp: int64
Parch: int64
Ticket: string
Fare: double
FamilySize: int64
AgeGroup: dictionary<values=string, indices=int8, ordered=1>
Sex_male: bool
Embarked_Q: bool
Embarked_S: bool
DiscountedFare: double
Fare_Normalized: double
Fare_Log: double
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 2239
==============================================

Data written to 'titanic.parquet'.
==============================================

Data read from Parquet (first 5 rows):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare  FamilySize     AgeGroup  Sex_male  Embarked_Q  \
0         A/5 21171   7.2500           2  Young Adult      True       False
1          PC 17599  71.2833           2        Adult     False       False
2  STON/O2. 3101282   7.9250           1  Young Adult     False       False
3            113803  53.1000           2  Young Adult     False       False
4            373450   8.0500           1  Young Adult      True       False

   Embarked_S  DiscountedFare  Fare_Normalized  Fare_Log
0        True         6.52500         0.014151  2.110213
1       False        64.15497         0.139136  4.280593
2        True         7.13250         0.015469  2.188856
3        True        47.79000         0.103644  3.990834
4        True         7.24500         0.015713  2.202765

In [ ]:
## YOUR PRIZE üèÜ:
# Comprehensive Arrow Reference: https://github.com/fbaptiste/python-blog/blob/main/2024/03%20-%20March/arrow_library.ipynb